.content{
  background-color: white;
}
.side_menu .point a{
  color: #4D4D4D;
}
table {
  height: 7rem;
}
table th {
  weight: 150px​;
  padding: 10px;
  Text-align: right;
}
table td {
  weight: 480px​;
  padding: 10px;
}


input[type="radio"].Sexe {
  display: none;
}
input[type="radio"].Sexe + label {
  position: relative;
  padding-left: 1.3rem;
}
input[type="radio"].Sexe + label::before,
input[type="radio"].Sexe + label::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content:'';
  border-radius: 1rem;
}
input[type="radio"].Sexe + label::before {
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  background-color: #eee;
  width: 1rem;
  height: 1rem;
}
input[type="radio"].Sexe + label::after {
  bottom: 3px;
  left: 3px;
  width: calc(1rem - 6px);
  height: calc(1rem - 6px);
}
input[type="radio"].Sexe:checked + label::after {
  background-color: #00B7E8;
}


nav ul li [class="point"].href{
  background-color: #FCECEC;
  color: #4D4D4D;
}
/*input[type="text"]{
  text-align: right
}*/

section input {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  center: 0px;
  background-color: #008B8B;
  padding: 10px;
  margin: 120px;
  cursor: pointer; /*Pour faire sortir l'effet style au positionnement du curseur*/
}

.bouton_connection
{
     text-align: left;
}
input.submit{
  color: white;
  height: 3rem
  text-align: center;
}
section input:hover {
background-color: skyblue;
}                  /*styler l'état de survol pour donnerun feedback visuel à l'utilisateur quand l'état du bouton change.
